body {
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/images/leader.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333; 
}

h2 {
    text-align: center;
    margin-top: 80px;
    font-size: 60px;
    color: #333; 
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.6); 
}

.leaderboard {
    width: 80%;
    margin: 50px auto;
    border-collapse: collapse;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}

.leaderboard th {
    background-color: rgba(0, 0, 0, 0.05); 
    color: #333; 
    font-weight: bold;
    padding: 10px 20px;
    border-bottom: 2px solid #ccc;
    text-align: left;
}

.leaderboard td {
    color: #333;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}